<nav class="navbar sticky-top navbar-expand-lg navbar-light">
  <button class="" type="button" (click)="toggleSideNav()">
    <i class="fa fa-align-justify"> </i> 
  </button>

  <a class="navbar-brand" href="#">Analytics</a>

  <div class="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
          aria-haspopup="true" aria-expanded="false">
          Select Product
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">p1</a>
          <a class="dropdown-item" href="#">p2</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">p3</a>
        </div>
      </li>
    </ul>
  </div>
</nav>