<nav class="navbar sticky-top navbar-expand-lg navbar-light">
  <button class="sideNavBtn" type="button" (click)="toggleSideNav()">
    <i class="fa fa-align-justify"> </i> 
  </button>

  <a class="navbar-brand" href="#">Analytics</a>

  <div class="" *ngIf="list$ | async as list">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
          aria-haspopup="true" aria-expanded="false">
          <span>{{!selectedProduct ? 'Select Product': selectedProduct}}</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="onChangeProduct(item)" *ngFor="let item of list">{{item}}</a>
        </div>
      </li>
    </ul>
  </div>
</nav>