<ul class="nav flex-column side-nav">
  <li class="nav-item">
    <a class="nav-link" routerLink="/"  routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/rawData"  routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">Raw Data</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/yield"  routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">Yield</a>
  </li>
</ul>